.u-section-1 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 407px;
}

.u-section-1 .u-image-1 {
  height: 370px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 401px;
  height: 281px;
  margin: -343px auto 0 27px;
}

.u-section-1 .u-text-1 {
  margin: -220px 45px 60px 517px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 126px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -442px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -130px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 222px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 238px;
    margin-top: -538px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
  }
}.u-section-2 {
  background-image: linear-gradient(#e9f2fa, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-2 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 31px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 11px 20px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 20px 0 48px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 8px 20px 0 48px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  object-position: 0% 0%;
  width: 668px;
  height: 379px;
  margin: 40px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 624px;
  height: 309px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-2 .u-image-1 {
    width: 564px;
    height: 320px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-2 .u-image-2 {
    width: 564px;
    height: 279px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-2 .u-image-1 {
    width: 432px;
    height: 245px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-2 .u-image-2 {
    width: 432px;
    height: 214px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 408px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 193px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 168px;
  }
}.u-section-3 {
  background-image: linear-gradient(white, #fef9e6);
}

.u-section-3 .u-sheet-1 {
  min-height: 920px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 6px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 11px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 20px 0 48px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 20px 0 48px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 537px;
  height: 506px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 366px;
  height: 238px;
  margin: 0 148px 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-3 .u-image-2 {
    height: 237px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-3 .u-image-1 {
    width: 432px;
    height: 407px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 66px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 320px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 220px;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: linear-gradient(#fef9e6, #fbeced);
}

.u-section-4 .u-sheet-1 {
  min-height: 988px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 3px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 11px 20px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 28px 0 40px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 20px 0 48px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 519px;
  left: 74px;
  right: auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 474px;
  height: 360px;
  margin: 0 auto 0 91px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 90px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-4 .u-image-2 {
    width: 432px;
    height: 328px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 142px;
    width: 540px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 128px;
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 258px;
  }
}.u-section-5 {
  background-image: linear-gradient(#fbeced, #fef9e6);
}

.u-section-5 .u-sheet-1 {
  min-height: 988px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px 0 30px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 11px 20px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 40px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 20px 0 48px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 535px;
  height: 488px;
  margin: 5px 50px 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 502px;
  height: 360px;
  margin: 10px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 29px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-5 .u-image-1 {
    width: 432px;
    height: 394px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-5 .u-image-2 {
    width: 432px;
    height: 310px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 142px;
    width: 540px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 128px;
    width: 340px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 310px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 244px;
  }
}.u-section-6 {
  background-image: linear-gradient(#fef9e6, #e0e5eb);
}

.u-section-6 .u-sheet-1 {
  min-height: 988px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px 0 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 11px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 40px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 20px 0 48px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 664px;
  height: 476px;
  margin: 32px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 452px;
  height: 360px;
  margin: 10px auto 0 91px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-6 .u-image-1 {
    width: 564px;
    height: 404px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-6 .u-image-1 {
    width: 432px;
    height: 309px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-6 .u-image-2 {
    width: 432px;
    height: 344px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 142px;
    width: 540px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 128px;
    width: 340px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 243px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 271px;
  }
}.u-section-7 {
  background-image: linear-gradient(#e0e5eb, white);
}

.u-section-7 .u-sheet-1 {
  min-height: 988px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px 0 30px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 11px 20px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 40px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 20px 0 48px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 535px;
  height: 488px;
  margin: 5px 50px 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  width: 452px;
  height: 360px;
  margin: 0 auto 0 91px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 10px 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 29px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-7 .u-image-1 {
    width: 432px;
    height: 394px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-7 .u-image-2 {
    width: 432px;
    height: 344px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 142px;
    width: 540px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 128px;
    width: 340px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 310px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 271px;
  }
}